doctype html
html
  head
    title= title
    link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css")
    script(type="text/javascript", src="vendor/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="vendor/react/react.min.js")
    script(type="text/javascript", src="vendor/react/JSXTransformer.js")
  body
    .container
      block content
